{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FUTBOL APP</title>
    <link rel="stylesheet" href="{% static 'equipos/css/home.css' %}">
</head>
<body>
    <div class="background"></div>

    <div class="logo">⚽</div>
    <h1>F  P  C</h1>
    <p>Futbol Profesional Colombiano</p>

    <div class="botones">
        <a href="/equipos/" class="btn btn-equipos">🏟️Equipos</a>
        <a href="/jugadores/" class="btn btn-equipos">👤 Jugadores</a>
    </div>

    
</body>
</html>